header,footer{
	border:4px;
}

body{
	font-family:Arial, sans-serif;
	line-height: 1.4;
	color: #333;
	overflow-x: hidden;
}

#navbar{
	display: flex;
	justify-content: space-between;
	background: #333;
	color: #fff;
	padding:1.5rem 8rem;
	position: sticky;
	top:0;
	z-index:1;
	border-bottom:3px solid #3693ff;

}

#navbar ul{
	display:flex;
	align-items:center;
	list-style:none;

}

#navbar h2 a{
	color:#fff;
	text-decoration:none;

}

#navbar li a{
	text-decoration:none;
	color:#fff;
	padding:1rem;
	font-size:1.3rem;
	margin:0 0.5rem;
	border-radius:5px;
	transition: background-color 0.3s;

}

#navbar li > li {
	display:flex;
	align-items:center;
	list-style:none;

}

#navbar li a:hover
{
	background-color:#3693ff;
}

li.dropdown {
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #886c6c;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #a04646;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

  
li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }

#showcase{
	background:url('../IMAGES/Team-Building-Wallpaper.jpg') no-repeat center center/cover;
	height:40vh;

}

.showcase-contents{
	display: flex;
	flex-direction:column;
	text-align:center;
	align-items:center;
	justify-content:center;
	position:absolute;
	top:81px;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.6);

}

.text-primary{

	color:#3693ff;
}

.galleryHeader {
	text-align: center;
	padding: 20px;
  }

  .rowMSA {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 4px;
	justify-items: center;
  }

 /* display: flex;
	flex-direction:column;
	text-align:center;
	align-items:center;
	justify-content:center;
	position:absolute; */
  
  /* Create two equal columns that sits next to each other */
  .columnMSA {
	-ms-flex: 50%; /* IE 10 */
	flex: 50%;
	padding: 0 50px;	
	align-items:center;
	justify-content:center;
	
  }
  
  .columnMSA img {
	margin-top: 8px;
	vertical-align: middle;
  }

  .columnForam {
	-ms-flex: 50%; /* IE 10 */
	flex: 50%;
	padding: 0 50px;	
	align-items:center;
	justify-content:center;
	
  }
  
  .columnForam img {
	margin-top: 8px;
	vertical-align: middle;
  }

  .btn:hover {
	background-color: #ddd;
  }
  
  .btn.active {
	background-color: #666;
	color: white;
  }

  * {
	box-sizing: border-box;
  }

  /*#rowForamID{
	  display: none;
  } */

  #myDIV {
	width: 500px;
	height: 500px;
	background-color: lightblue;
  }